#dropdown {
    display: none; /* Hide menu by default */
    background: black;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    padding: 0.2em;
    list-style-type: none; /* Remove bullet points */
}

li > a:hover {
    color: #DB06F9;
}

button {
    cursor: pointer; /* Change cursor on hover */
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 1rem;
}

button:hover { /* Change button appearance on hover */
    background: white;
    color: black;
    border-color: black;
}
